<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Google Maps API Directions Services</title>
    <link rel="stylesheet" href="/ol.css" />
    <link rel="stylesheet" href="/map2.css" />
  </head>
  <body>
    <div class="cuadrito">
      <div id="map" style="height: 100vh"></div>
      <div id="container">
        <p> Sucursales </p>
        <div id="form"></div>
        <div id="output"></div>
        </form>
      </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwtIplpe52JJBXyOiOnnNPjJMshD2RTSY&libraries=geometry"></script>
    <script src="/map2.js"></script>
  </body>
</html>